@import 'antd/dist/antd.dark.less';

@primary-color: #e3ad50;
@text-color: #f5f5f5;
@background-color: #141414;
@border-color-base: #444;

@btn-primary-bg: @primary-color;
@link-color: @primary-color;


/* customized less variables */
@my-background-color: #FF00FF;
@my-size-sm: 8px;
@my-size-md: 16px;
@my-size-lg: 32px;
@my-radius-sm: @my-size-sm;
@my-radius-md: @my-size-md;
@my-radius-lg: @my-size-lg;
